{% extends "layout.html" %}

{% block title %}
	Welcome!
{% endblock %}

{% block body %}

	<div id="new_user">
		<h1>Welcome to the Custom Chat</h1>

		<p>Please select a username to access: </p>

		{{ message }}

		<form id="username-form">
			<div class="form-group">
            	<div class="control">
                	<input class="form-control message username" type="text" name="username" placeholder="Username" autofocus="">
            	</div>
        	</div>

        	<input class="btn btn-primary login-btn" type="submit" name="submit_name" value="Start chatting!">
		</form>
	</div>

	<div id="old_user">
		<h1></h1>

		<h4>These are the available channels:</h4>

		<form id="av-ch" method="POST" action="/channel">
			<div id="radio"></div>
		</form>

		<h4>Create channel: </h4>

		{{ message }}

		<div class="form-group">
            <div class="control">
                <input class="form-control new-channel" type="text" name="channel_name" placeholder="Channel name" autofocus="False">
            </div>
        </div>

        <input class="btn btn-primary create-chat" type="submit" name="submit_name" value="Create!">
	</div>

{% endblock %}