{% extends "layout.html" %}

{% block title %}
	{{ channel_name }}
{% endblock %}

{% block body %}

	<a href="{{ url_for('index') }}">Go back</a>
	<h1>This is: "<span id="channel_name">{{ channel_name }}</span>"</h1>

	<div class="container">

  		<ul id="messages_list">
  			{% for message in messages %}
  				<li>{{ message }}</li>
  			{% endfor %}
  		</ul>

	</div>

	<div class="form-group">
	  	<textarea id="message" aria-label="With textarea"></textarea>
	</div>

	<button class="send-message">Send</button>

{% endblock %}